.home-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
}

.description {
    text-align: justify;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 50px;
}


.description button {
    padding: 10px 25px;
    background-color: rgba(39, 36, 33, 0.842);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.description button a {
    text-decoration: none;
    color: aliceblue;
}

.description h1 {
    font-size: 50px;
    color: rgb(30, 27, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.home-page p {
    font-size: 20px;
    color: rgb(49, 47, 47)
}

.homepage-img img {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    border-radius: 5px;
    border: 1px solid red;
}

.review-home {
    margin-top: 50px;
    margin-bottom: 40px;
}

.review-home h2 {
    margin-left: 55px;
    font-size: 35px;
    color: rgb(89, 84, 84);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.btn-div {
    display: flex;
    justify-content: center;
}

.review-btn {
    padding: 10px 25px;
    background-color: rgba(91, 112, 117, 0.842);
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}

@media screen and (max-width:680px) {
    .home-page {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .homepage-img img {
        margin-left: 50px;
        border-radius: 5px;
        border: 1px solid red;
        direction: 1;
    }
}